<div class="container mt-5">
  <div class="row">
    <div class="col-12 mb-5">
      <p class="alert alert-info">
        {{info | summary}}
      </p>
    </div>
    <hr>

    <div class="col-4">
      <div class="form-group">
        <label for="filterBy">FilterBy</label>
        <select class="form-control" [(ngModel)]="searchField">
          <option value="name">Name</option>
          <option value="country">Country</option>
          <option value="role">Role</option>
        </select>
      </div>
    </div>

    <div class="col-8">
      <div class="form-group">
        <label for="searchHere">Search here</label>
        <input type="text" [(ngModel)]="searchVal" class="form-control">
      </div>
    </div>

    <div class="col-12 mt-5">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Serial No</th>
              <th>Name</th>
              <th>Country</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let crick of cricketers | filter : searchVal : searchField; let i = index">
              <td>
                {{i + 1}}
              </td>
              <td>
                {{crick.name}}
              </td>
              <td>
                {{crick.country}}
              </td>
              <td>
                {{crick.role}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>